spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: C:\Users\Lenovo\Desktop\practices_microservices\smart-delivery-platform\config-repo
server:
  port: 8888


